.buk-grid {
  display: grid;
  gap: 1rem .5rem;
  grid-auto-flow: row;
  grid-template-columns: repeat(4, 1fr);
}

.buk-col, .buk-col-4 { grid-column: span 4 / span 4; }
[class*="buk-col"] {
  position: relative;
  padding-top: .5rem;
  padding-bottom: .5rem;
}

.buk-col-1 { grid-column: span 1 / span 1; }
.buk-col-2 { grid-column: span 2 / span 2; }
.buk-col-3 { grid-column: span 3 / span 3; }

.buk-col-st-1 { grid-column-start: 1; }
.buk-col-st-2 { grid-column-start: 2; }
.buk-col-st-3 { grid-column-start: 3; }
.buk-col-st-4 { grid-column-start: 4; }

.buk-col-ed-2 { grid-column-end: 2; }
.buk-col-ed-3 { grid-column-end: 3; }
.buk-col-ed-4 { grid-column-end: 4; }
.buk-col-ed-5 { grid-column-end: 5; }

.buk-row-1 { grid-row: span 1 / span 1; }
.buk-row-2 { grid-row: span 2 / span 2; }
.buk-row-3 { grid-row: span 3 / span 3; }
.buk-row-4 { grid-row: span 4 / span 4; }

.buk-row-st-1 { grid-row-start: 1; }
.buk-row-st-2 { grid-row-start: 2; }
.buk-row-st-3 { grid-row-start: 3; }
.buk-row-st-4 { grid-row-start: 4; }